*{
    color: rgb(255, 0, 234);
    background-color: aquamarine;
    font-size: 30px;
    font-family: Bebas Neue;
    text-align: center;
}

h1{
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 70px;
}

h2{
    color: rgb(0, 89, 255);
    font-size: 50px;
    border-bottom: 10px solid blue;
    margin: 100px;
}


p{
    text-align: center;
}

img{
    height: 300px;
    width: 45%
}

h7{
    border-bottom: 10px solid red;
}